@{
    ViewData["Title"] = "Заблокирован";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Этот аккаунт заблокирован, попытайтесь войти ещё раз позже.</p>
</header>
