@page
@{
    ViewData["Title"] = "О нас";
}
<div class="container">

    <h1>
        Интернет-магазин стройматериалов «Все у нас» - настоящая находка для всех, кто делает ремонт
    </h1>
    <p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">
        Ремонт квартиры, строительство загородного дома, обшивка гаража, внутренняя отделка бани — для осуществления этих целей понадобится множество строительных материалов. Есть несколько способов их приобретения. Можно пойти по всем магазинам Екатеринбурга, потратив несколько дней на поиск подходящих вещей. А можно удобно устроиться перед компьютером и изучить интернет магазин стройматериалов — познакомиться с каталогом, прикинуть суммарную стоимость, при желании оформить заказ или обратиться за подробной информацией.<br>
        Строительные материалы в компании «Все у нас»<br>
        Главным принципом деятельности фирмы является поставка товаров надлежащего качества на российский рынок. В магазине стройматериалов «Все у нас» покупатель найдет продукцию отечественного и европейского производства. Стоимость ее приемлема для широкого круга потребителей. Основой деятельности служит тщательный отбор деловых партнеров, поэтому каталог стройматериалов состоит из лучших товаров, которые можно встретить.
    </p>
    <p font-size:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">
        <br>
        «Все у нас» - компания, следующая своим основным принципам, среди которых:
    </p>
    <ul font-size:="" style="padding-top: 0px; padding-bottom: 0px; padding-left: 40px; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">
        <li style="margin-left: 21pt;">
            предоставление широкого ассортимента стройматериалов;
        </li>
        <li style="margin-left: 21pt;">
            информационная поддержка покупателей;
        </li>
        <li style="margin-left: 21pt;">
            комплексное обслуживание на всех стадиях от общения с консультантом до доставки товара.
        </li>
    </ul>
    <table>
        <tbody>
            <tr>
                <td style="text-align: center;">
                    <a href="#"><img alt="" src="/images/zement.jpg" style="border: 1px solid #61201C; border-radius: 5px;margin: 5px 10px 7px 5px;"></a>
                </td>
                <td style="text-align: center;">
                    <a href="#"><img alt="" src="/images/santechnika.png" style="border: 1px solid #61201C; border-radius: 5px;margin: 5px 10px 7px 5px;"></a>
                </td>
                <td style="text-align: center;">
                    <a href="#"><img alt="" src="/images/plitka.jpg" style="border: 1px solid #61201C; border-radius: 5px;margin: 5px 10px 7px 5px;"></a>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;padding-bottom: 10px;font-size: 14px;font-weight: bold;">
                    <a href="#" style="color: #61201C; text-decoration:none;">Стройматериалы</a>
                </td>
                <td style="text-align: center;padding-bottom: 10px;font-size: 14px;font-weight: bold;">
                    <a href="#" style="color: #61201C;text-decoration:none;">Сантехника</a>
                </td>
                <td style="text-align: center;padding-bottom: 10px;font-size: 14px;font-weight: bold;">
                    <a href="#" style="color: #61201C;text-decoration:none;">Плитка</a>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <a href="#"><img alt="" src="/images/instrument.png" style="border: 1px solid #61201C; border-radius: 5px;margin: 5px 10px 7px 5px;"></a>
                </td>
                <td style="text-align: center;">
                    <a href="#"><img alt="" src="/images/elektrika.png" style="border: 1px solid #61201C; border-radius: 5px;margin: 5px 10px 7px 5px;"></a>
                </td>
                <td style="text-align: center;">
                    <a href="#"><img alt="" src="/images/kraska.jpg" style="border: 1px solid #61201C; border-radius: 5px;margin: 5px 10px 7px 5px;"></a>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;padding-bottom: 10px;">
                    <a href="/product/view/2438" style="color: #61201C;font-size: 14px;font-weight: bold;text-decoration:none;">Инструменты</a>
                </td>
                <td style="text-align: center;padding-bottom: 10px;">
                    <a href="/product/view/1414" style="color: #61201C;font-size: 14px;font-weight: bold;text-decoration:none;">Электрика</a>
                </td>
                <td style="text-align: center;padding-bottom: 10px;">
                    <a href="/product/view/2364" style="color: #61201C;font-size: 14px;font-weight: bold;text-decoration:none;">Краски</a>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-left:3.0pt;">
        &nbsp;
    </p>
    <p font-size:="" margin-left:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">
        Теперь — несколько слов о том, какие стройматериалы реализуются интернет-магазином.
    </p>
    <p font-size:="" margin-left:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">
        Ассортимент товаров для строительства и ремонта<br>
        Все, что требуется при возведении дома с нуля до его финишной отделки, посетитель сайта сможет найти в каталоге стройматериалов.
    </p>
    <p font-size:="" margin-left:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">
        В наличии и на заказ имеются:
    </p>
    <ul font-size:="" style="padding-top: 0px; padding-bottom: 0px; padding-left: 40px; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">
        <li style="margin-left: 3pt;">
            железобетонные изделия;
        </li>
        <li style="margin-left: 3pt;">
            строительный инструмент;
        </li>
        <li style="margin-left: 3pt;">
            лакокрасочные материалы;
        </li>
        <li style="margin-left: 3pt;">
            крепежные изделия;
        </li>
        <li style="margin-left: 3pt;">
            сопутствующие ремонту товары (герметики, клей, ленты и другие);
        </li>
        <li style="margin-left: 3pt;">
            кровля;
        </li>
        <li style="margin-left: 3pt;">
            ПВХ-панели;
        </li>
        <li style="margin-left: 3pt;">
            напольные покрытия;
        </li>
        <li style="margin-left: 3pt;">
            укрывные материалы и другие товары.
        </li>
    </ul>
    <p font-size:="" margin-left:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">
        Перечисленные стройматериалы предлагаем купить в нескольких местах по отдельности либо оформить крупный заказ в компании «Все у нас», что намного удобнее, выгоднее и быстрее.
    </p>
    <h2 style="text-align: justify;">
        Преимущества перед конкурентами
    </h2>
    <p font-size:="" margin-left:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">
        Независимо от того, каким опытом строительных работ обладает потенциальный покупатель, сотрудники «Все у нас» готовы предложить свою помощь.
    </p>
    <p font-size:="" margin-left:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">
        Она может заключаться в следующем:
    </p>
    <ul font-size:="" style="padding-top: 0px; padding-bottom: 0px; padding-left: 40px; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">
        <li style="margin-left: 3pt;">
            помощь в выборе подходящих стройматериалов для конкретных работ;
        </li>
        <li style="margin-left: 3pt;">
            консультация по преимуществам различных товаров для одной цели;
        </li>
        <li style="margin-left: 3pt;">
            онлайн-расчет стоимости заказа;
        </li>
        <li style="margin-left: 3pt;">
            оформление доставки в указанное место точно в назначенный срок.
        </li>
    </ul>
    <p font-size:="" margin-left:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">
        Комплексное обслуживание клиентов — дело принципа для уважающей себя компании. «Все у нас» регулярно пополняет магазин стройматериалов новыми позициями, которые лишь появились на рынке. О современных отделочных материалах обязательно расскажут консультанты по телефону; заказать же товары можно через интернет.&nbsp;
    </p>
    <p font-size:="" margin-left:="" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, " trebuchet="">
        Сайтом компании также удобно пользоваться. При желании оценить, сколько составят на выбранные стройматериалы цены, пользователю достаточно добавить позиции в корзину при обзоре каталога. После сделанного выбора перейти в данный раздел и ознакомиться с общей стоимостью заказа. Если цена превышает финансовые возможности, часть стройматериалов можно легко удалить из корзины.
    </p>
    <br>
    <div style="font-size: 18px; text-align: center; background-color: #D0D0D0">
        <strong>Мы готовы принять и доставить Ваш заказ</strong><br>
        с понедельника по воскресенье с 8.30 до 18.00
    </div>




</div>