@page
@{
    ViewData["Title"] = "Условия";
}
<div class="container">
        <h1 class="bx-title dbg_title">Порядок возврата, обмена товара</h1><div class="col-md-13">
            <p align="JUSTIFY">
                <b>При приемке товара </b>Покупатель в присутствии водителя-экспедитора проверяет заказ на предмет правильной комплектности товара, качества и количества товара, после чего Покупатель должен <b>подписать сопроводительные документы</b>. После получения товара претензии к явным (видимым недостаткам) товара не принимаются.
            </p>
            <p align="JUSTIFY">
                В случае <b>немотивированного отказа Покупателя от покупки</b> (исключение - заводской брак, механические повреждения – скрытые недостатки) после прибытия водителя-экспедитора по указанному адресу, <b>услуга «Доставка» оплачивается в любом случае</b>, т.к. она была оказана.
            </p>
            <p align="JUSTIFY">
                Покупатель вправе отказаться от заказанного дистанционным способом товара в любое время до его передачи, а после передачи <b>в течение 7 дней</b>. При <b>покупке товара в розничном магазине</b> без предварительного дистанционного заказа возврат <b>товара надлежащего качества</b> возможен <b>в течение 14 дней, не считая дня покупки</b>.
            </p>
            <p align="JUSTIFY">
                В НАШЕМ МАГАЗИНЕ ВОЗВРАТ ТОВАРА НАДЛЕЖАЩЕГО КАЧЕСТВА ВОЗМОЖЕН <b>В ТЕЧЕНИЕ 90 ДНЕЙ</b>, НЕ СЧИТАЯ ДНЯ ПОКУПКИ.<br>
            </p>
            <p align="JUSTIFY">
                Не подлежит возврату товар надлежащего качества, <b>имеющего индивидуально определенные свойства</b>, в силу которых товар может быть использован исключительно приобретающим его Покупателем. К таким товарам относятся в том числе все строительно-отделочные материалы отпускаемые на метраж, кабельная продукция, товары бытовой химии, пестициды и агрохимикаты, технически сложные товары бытового назначения, растения и иное.
            </p>
            <p align="JUSTIFY">
                Товар надлежащего качества, предъявляемый для обмена принимается если он не был в употреблении, сохранены его товарный вид, потребительские свойства, пломбы, фабричные ярлыки, а также имеется товарный чек или кассовый чек либо иной подтверждающий оплату указанного товара документ.
            </p>
            <p align="JUSTIFY">
                Обращаем Ваше внимание, <b>что возврат товара надлежащего качества при самовывозе или покупке в магазине</b> осуществляется именно&nbsp; в том магазине, <b>в котором Вы его приобретали</b>.
            </p>
            <p align="JUSTIFY">
                Если <b>товар надлежащего качества</b> был приобретен с услугой «Доставка» возврат товара осуществляется в любых магазинах торговой сети "Всё у нас".
            </p>
            <p align="JUSTIFY">
                <b>Для осуществления возврата товара надлежащего качества</b> вы также <b>можете воспользоваться услугой «Доставка»</b> согласно базовым тарифам.
            </p>
            <p align="JUSTIFY">
                Для возврата товара необходим <b>документ, удостоверяющий личность</b>, а также заполненное по форме организации заявление на возврат (заполняется на месте).</b>
            </p>
            <p align="JUSTIFY">
                Для обмена или возврата технически сложных товаров ненадлежащего качества необходимо наличие заключения авторизованного сервисного центра (номера телефонов и адрес указываются в гарантийном талоне). При сдаче на экспертизу вместе с товаром обязательно должен быть&nbsp; <b>возращен технический паспорт изделия и гарантийный талон</b>. Экспертиза проводится за счет продавца. Если в результате экспертизы товара установлено, что его <b>недостатки возникли вследствие обстоятельств, за которые не отвечает продавец (изготовитель), Покупатель обязан возместить продавцу</b> (изготовителю), расходы на проведение экспертизы, а также связанные с ее проведением расходы на хранение и транспортировку товара.
            </p>
            <p align="JUSTIFY">
                В отношении технически сложного товара покупатель в случае обнаружения в нем недостатков вправе отказаться от товара и потребовать возврата уплаченной за такой товар суммы либо предъявить требование о его замене на товар этой же марки (модели, артикула) или на такой же товар другой марки (модели, артикула) с соответствующим перерасчетом покупной цены в течение пятнадцати дней со дня передачи потребителю такого товара.
            </p>
            <p align="JUSTIFY">
                По истечении 15 дней и в течение гарантийного срока расходы, связанные с транспортировкой до сервисного центра, а также другие сопутствующие расходы, ложатся на покупателя и не подлежат возмещению, если иное не предусмотрено условиями гарантии, указанными в гарантийном талоне.
            </p>
            <p>
            </p>
            <p align="JUSTIFY">
                Возврат оплаты за товар производится тем же способом, которым оплата была получена, в сроки, установленные Законодательством. Если оплата производилась наличными - возврат денежных средств осуществляется в момент возврата товара. При безналичной оплате возврат денежных средств осуществляется в срок от 3 до 10 дней.
            </p>
            <p align="JUSTIFY">
                При проведении экспертизы срок выдачи денежных средств сдвигается соразмерно времени проведения экспертизы. Если потребитель требует устранение недостатков товара, срок проведения экспертизы не может превышать 45 дней, если потребитель требует замены товара – экспертиза товара должна быть проведена в течение 20 дней. Если потребителем заявлено требование о возврате уплаченной за товар денежной суммы, соразмерном уменьшении покупной цены товара, возмещении расходов на исправление недостатков товара потребителем или третьим лицом экспертиза должна быть проведена в течение 10 дней (п. 5, ст. 18 Закона о защите прав потребителей).
            </p>
            <br>
        </div>
    </div>
</div>
