@page
@{
    ViewData["Title"] = "Акции";
}
<div class="container">

    <h1 class="bx-title dbg_title">Акции!</h1>

    <div class="bx-newslist">
        <div class="row">
            <div class="bx-newslist-container col-sm-6 col-md-4" id="bx_651765591_60860">
                <div class="bx-newslist-block">
                    <div class="bx-newslist-img">
                        <img src="//opt-698093.ssl.1c-bitrix-cdn.ru/upload/iblock/b17/b179e32a1caf209e5d922efffa3123e6.jpg?1570196098191995" width="340" height="463" alt="Акция &quot;Купи теплый пол и получи терморегулятор за 1 рубль&quot;" title="Акция &quot;Купи теплый пол и получи терморегулятор за 1 рубль&quot;">
                    </div>
                    <h3 class="bx-newslist-title">
                       Акция "Купи теплый пол и получи терморегулятор за 1 рубль"
                    </h3>
                    <div class="bx-newslist-content">
                        Спешим поделиться, что с 5 октября 2019 года до 30 ноября 2019 мы запускаем акцию "Купи теплый пол производителя IQ WATT и получи терморегулятор за 1 рубль"
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="bx-newslist-date"><i class="fa fa-calendar-o"></i> 04.10.2019</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                        </div>
                    </div>
                </div>
            </div>
            <div class="bx-newslist-container col-sm-6 col-md-4" id="bx_651765591_60692">
                <div class="bx-newslist-block">
                    <div class="bx-newslist-img">
                       <img src="//opt-698093.ssl.1c-bitrix-cdn.ru/upload/iblock/c0a/c0ac2ac59478785c8bb6253a8c0ab7d3.jpg?1569486932178923" width="340" height="463" alt="Строительство и ремонт - ваша профессия? А качество работ и материалов - стиль работы?" title="Строительство и ремонт - ваша профессия? А качество работ и материалов - стиль работы?">
                    </div>
                    <h3 class="bx-newslist-title">
                       Строительство и ремонт - ваша профессия? А качество работ и материалов - стиль работы?
                    </h3>
                    <div class="bx-newslist-content">
                        Приглашаем Вас поучаствовать в акции нашего партнера Кнауф! Скачайте приложение K.PROFI и получайте выгоды с каждой покупкой.
                        </br> 1. Покупайте товары КНАУФ -> 2. Регистрируйте чеки с покупками товаров КНАУФ по QR-коду -> 3. Получайте вознаграждения.
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="bx-newslist-date"><i class="fa fa-calendar-o"></i> 26.09.2019</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="bx-newslist-container col-sm-6 col-md-4" id="bx_651765591_60442">
                <div class="bx-newslist-block">
                    <div class="bx-newslist-img">
                        <img src="//opt-698093.ssl.1c-bitrix-cdn.ru/upload/iblock/b01/b01fdc0d5416644cc5c1c22349b17680.png?156708759868134" width="340" height="463" alt="Как покупать дешевле?" title="Как покупать дешевле?">
                    </div>
                    <h3 class="bx-newslist-title">
                        Как покупать дешевле?
                    </h3>
                    <div class="bx-newslist-content">
                        Рады сообщить, что с 4 сентября 2019 года мы запускаем новую дисконтную программу в розничных магазинах. Для нашего с Вами удобства была создана специальная карта "Все у нас". Это карта позволяет приобретать товары по специальной цене.
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="bx-newslist-date"><i class="fa fa-calendar-o"></i> 29.08.2019</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            
                        </div>
                    </div>
                </div>
            </div>


        </div>
