@page
@{
    ViewData["Title"] = "Оплата";
}
<div class="container">
    <h1 class="bx-title dbg_title">Оплата</h1>
    <h2>Способы оплаты</h2>
    <p>
        На сайте интернет магазина "Все у нас" предусмотрены следующие варианты оплаты товаров и услуг:
    </p>
    <div class="well">
        <ul type="disc">
            <li>Наличный платеж (в офисе или водителю-экспедитору) </li>
            <li>Безналичный платеж (через коммерческий банк) </li>
        </ul>
    </div>
    <p>
    </p>
    <h3>
        Расчеты с физическими лицами:
    </h3>
    <div class="well">
        <ul type="disc">
            <li>При оплате товара за наличный расчет на сумму более 100 000 белорусских рублей оплата производится у нас в офисе. В этом случае сумма предоплаты должна составлять не менее 50%. </li>
            <li>Покупку товара можно оплатить безналичными деньгами через Коммерческий банк</li>
        </ul>
    </div>
    <h3>
        Оплата за наличный расчет:
    </h3>
    <div class="well">
        <p>
            Оплата наличными производится в момент доставки заказа до начала выгрузки товара. Вы передаете деньги водителю-экспедитору и получаете заказанные товары и документы. (Пожалуйста проверьте наличие кассового чека!). Если сумма покупки более 100 000 белорусских рублей, то Вам необходимо приехать к нам в офис для внесения оплаты за товар. Минимальная сумма предоплаты - 50%, оставшуюся сумму можно передать водителю-экспедитору или курьеру.
        </p>
    </div>
    <h3>
        Оплата с использованием банковского перевода:
    </h3>
    <div class="well">
        <p>
            Частным лицам мы предлагаем безналичную оплату через Коммерческий банк, предоставляющий данную услугу физ. лицам. После оформления заказа наш менеджер свяжется с Вами для уточнения сроков и условий доставки. Затем мы выставим Вам счет, включающий в себя стоимость доставки. В пункте квитанции «Вид платежа» или «Наименование платежа» необходимо написать «Оплата за товар по счету №...».
        </p>
    </div>
    <h3>
        <p align="LEFT">
            Аннулирование заказа
        </p>
    </h3>
    <p align="LEFT">
        &nbsp;&nbsp; При аннулировании позиций из оплаченного заказа (или при аннулировании заказа целиком) Вы можете заказать другой товар на эту сумму, либо вернуть всю сумму на карту предварительно написав письмо на e-mail.
    </p>
    <h3>
        Возврат товара:
    </h3>
    <p>
        Для полного или частичного возврата денежных средств на карту Вам необходимо обратиться к менеджеру интернет-магазина, по телефону +7 (495) 185-08-76. Деньги автоматически вернутся на вашу карту в течение 2-3-х дней. Точный срок возврата денежных средств зависит от давности размещения заказа и от банка, выпустившего карту (максимальный срок возврата не может превышать 30 дней). С полными условиями возврата Вы можете ознакомиться <a href="/about/refund/">здесь</a>.
    </p>
    <p>
    </p>
    <p>
    </p>
    <h3>
        Расчеты с юридическими лицами:
    </h3>
    <div class="well">
        <ul type="disc">
            <li>При оплате товара по безналичному расчету максимальная сумма покупки не ограничена, отпускается по 100% предоплате.</li>
            <li>Товарный кредит невозможен.</li>
        </ul>
    </div>
    <h3>
        Оплата по безналичному расчету:
    </h3>
    <div class="well">
        <p>
            При безналичной форме оплата производится по выставленному Вам счету к оплате. Счет к оплате выставляется в белорусских рублях, иностранная валюта к оплате не принимается.
        </p>
        <p>
            Оплата по счету может быть произведена только банковским переводом. Срок действия счета - 3 банковских дня. Если в течение этого времени Вы не направили средства на оплату счета, но все же решили произвести оплату, то Вам необходимо связаться с менеджером и уточнить действительность счета, возможно, Вам будет выписан новый счет. Датой оплаты заказа считается дата зачисления средств на банковский счет компании.
        </p>
    </div>
    <h3>
        Оплата за наличный расчет:
    </h3>
    <p>
        Оплата товара за наличный расчет между юридическими лицами не должна превышать более 100 000 белорусских рублей. Если сумма покупки превышает 100 000 белорусских рублей, то возможно использование комбинированной формы оплаты, используя наличный и безналичный способы для оплаты одного выставленного счета. <br>
        <b> </b>
    </p>
    <b> </b>
    <p>
        <b> </b><i><b>ВНИМАНИЕ!&nbsp; </b>Стоимость товара в интернет-магазине "Все у нас" может отличаться от цен, установленных в розничных магазинах сети.</i>
    </p>
    <br>
</div>
</div>